/*  JavaScript 6th Edition
	Chapter 2
	Hands-on Projects

	Filename: styles.css
*/
/* new blue color scheme for styles

#C5D1EB - light blue
#92AFD7 - medium blue
#5A7684 - slate blue
#395B50 - greenish blue
#1F2F16 - dark hunter greenish
*/

/* HTML5 display-role reset for older browsers */
article, header, nav, section {
	display: block;
}

body {
	background: #395B50;
}

section {
	min-width: 800px;
	width: 80%;
	max-width: 1440px;
	margin: 0 auto;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	border-radius: 10px;
	box-shadow: 5px 5px 5px #1F2F16;
	color: #1F2F16;
}

/* page header */
header {
	background: #5A7684;
	color: #C5D1EB;
	text-align: center;
	padding: 1px;
	font-size: 150%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

/* page footer */
footer {
	background: #5A7684;
	color: #C5D1EB;
	text-align: center;
	padding: 10px;
	font-size: 150%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

/* page navigation */
nav {
	background: linear-gradient(#5A7684, #C5D1EB);
	padding: 1px;
	border-bottom: 4px ridge #92AFD7;
}

nav ul {
	list-style-type: none;
	padding: 20px 0 0 0;
	margin: 0 0 9px 0;
}

nav li {
	display: inline;
	padding: 0;
	margin: 0;
}

nav a {
	color: #92AFD7;
	padding: 10px;
	margin: 0 15px 15px 15px;
	background: #1F2F16;
	text-decoration: none;
	border-radius: 25px 25px 0 0;
	border: 3px solid #395B50;
	border-bottom: none;
}

nav a:hover {
	background: #92AFD7;
	color: #1F2F16;
}

/* main content */
article {
	padding: 1px;
	background: #C5D1EB;
}

article h2, article h3 {
	padding: 1px 10px 1px 10px;
	color: #1F2F16;
	margin: 10px auto 10px 9px;
}

/* article list */
article ol li {
	padding: 10px;
	margin-left: 35px;
}

article ul li {
	margin-left: 25px;
}

article ul li:first-of-type {
	font-size: 1.5em;
	color: deeppink;
}

/* form */
.conversion, form {
	background: #92AFD7;
	padding: 5px 10px;
	margin: 10px auto;
	width: 750px;
	color: #1F2F16;
	border-radius: 15px;
}

fieldset {
	border: #5A7684 10px double;
	margin-top: 10px;
	border-radius: 20px;
}

legend{
	font-family: Verdana, sans-serif;
	font-size: 125%;
	color: #ffffff;
}

label {
	display: inline-block;
	width: 45%;
}

input {
	vertical-align: top;
}

.floatleft {
	float: left;
	width: 220px;
	border: none;
}

.floatleft label {
	width: 90%;
}

.center {
	border: none;
	float: left;
	margin-top: 49px;
	text-align: center;
	width: 220px;
}

.center button {
	height: 2.5em;
}

.floatleft input, #byteValue {
	width: 125px;
	font-size: 1.1em;
	height: 1.4em;
	background: white;
	padding: 0.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 1px solid gray;
	font-family: arial, verdana, sans-serif;
}

.clear {
	clear: both;	
}

#submitbutton {
	border: none;
	margin-bottom: 0;
	text-align: center;
}

#submitbutton input, .center input {
	padding: 5px 15px;
	font-weight: bold;
	height: 2.5em;
	color: #C5D1EB;
	background: #5A7684;
	border-color: #5A7684;
	border-radius: 10px;
}

/* shape styles */
.myShapes {
	width: 50%;
	min-width: 450px;
	margin: auto;
	float: none;
}

#square {
	width: 150px;
	height: 150px;
	background: hotpink;
	border: 1px solid black;
	margin: 20px;
	float: left;
}

#parallelogram {
	width: 175px;
	height: 150px;
	transform: skew(20deg);
	background: mediumpurple;
	border: 1px solid black;
	margin: 20px;
	float: left;
	margin-left: 50px;
}

#circle {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	background: navy;
	border: 1px solid black;
	margin: 20px;
	float: left;
}

#heart {
	background-color: chartreuse;
	height: 100px;
	transform: rotate(-45deg);
	width: 100px;
	position: relative;
	top: 30px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	margin: 20px;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
}

#heart:before {
	content: "";
	background-color: chartreuse;
	border-radius: 50%;
	height: 100px;
	position: absolute;
	width: 100px;
	top: -45px;
	left: 0;
	border-top: 2px solid black;
}

#heart:after {
	content: "";
	background-color: chartreuse;
	border-radius: 50%;
	height: 100px;
	position: absolute;
	width: 100px;
	top: 0px;
	right: -45px;
	border-right: 2px solid black;
}